#2_Course_continuation/4_Deep_learning/_4_Melanoma_Detection_Assignment/Skin_cancer_ISIC_The_International_Skin_Imaging_Collaboration
#2_Course_continuation/4_Deep_learning/_5_CNN_Industrial_application/Industry_Demo_Using_CNNs_with_Flowers_Images/flowers
#2_Course_continuation/4_Deep_learning/_5_CNN_Industrial_application/Industry_Demo_Using_CNNs_with_X_ray_Images/CXR_data_UpGrad



# Dataset link: https://drive.google.com/uc?id=1ehyrYBQ5rbQQe6yL4XbLWe3FMvuVUGiL
2_Course_continuation/Exam_2/4_Deep_learning/_7_Gesture_recognition_assignment/Project_data   
2_Course_continuation/Exam_2/4_Deep_learning/_7_Gesture_recognition_assignment/secret
# ignore the .h5 file (to download the submission with the .h5 file, download from here: https://mail.google.com/mail/u/0/?tab=rm&ogbl#search/model5/FMfcgzGrbvFHSjwJZWpRhrkJkpxqwDvb)
2_Course_continuation/Exam_2/4_Deep_learning/_7_Gesture_recognition_assignment/GESTURE_RECOGNITION_ASSIGNMENT_SUBMISSION/model-00013-0.02464-0.99398-0.17304-0.96000.h5